{% extends './base.html' %}

{% block body %}
  <h2>{{ exercise.name }}</h2>
  <p>{{ exercise.description }}</p>
  <br>
  
  <div>
    <span class="readonly-label">Salida de ejemplo</span>
    <span class="readonly-text">{{ exercise.input_description }}</span>
  </div>

  <div>
    <span class="readonly-label">Entrada de ejemplo</span>
    <span class="readonly-text">{{ exercise.output_description }}</span>
  </div>

  {% if request.session.is_professor %}
    <div>
      <span class="readonly-label">Casos a evaluar</span>
      <span class="readonly-text">{{ exercise.cases }}</span>
    </div>
  {% endif %}

  <div>
    <span class="readonly-label">Fecha de inicio</span>
    <span class="readonly-text">{{ exercise.start_date }}</span>
  </div>

  <div>
    <span class="readonly-label">Fecha de cierre</span>
    <span class="readonly-text">{{ exercise.end_date }}</span>
  </div>

  <br>

  {% if request.session.is_professor %}
    <h3>Alumnos</h3>
    <table>
      <tr>
        <th>ALUMNO</th>
        <th>FECHA DE SUBIDA</th>
        <th>PUNTOS OBTENIDOS</th>
        <th>CÓDIGO</th>
      </tr>
    </table>
  {% else %}
    <form action="{% url 'register_homework' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <label for="file">Archivo</label>
      <input type="file" id="file" name="file" accept=".py">
      <br>
      <input type="hidden" id="exercise" name="exercise" value="{{ exercise.id }}">
      <button type="submit">Subir archivo</button>
    </form>
  {% endif %}
{% endblock %}