{% extends './base.html' %}

{% block body %}
  <h2>Ejercicios</h2>
  <br>
  <table>
    <tr>
      {% if request.session.is_professor %}
        <th></th>
      {% endif %}
      <th>EJERCICIO</th>
      <th>FECHA INICIO</th>
      <th>FECHA CIERRE</th>
      <th>ENTREGAS</th>
    </tr>
    {% for exercise in exercises %}
      <tr>
        {% if request.session.is_professor %}
          <td>
            <form action="{% url 'delete_exercise' id=exercise.id %}" method="DELETE">{% csrf_token %}
              <button type="submit">Eliminar</button>
            </form>
          </td>
        {% endif %}
        <td><a href="{% url 'exercise_detail' id=exercise.id %}">{{ exercise.name }}</a></td>
        <td>{{ exercise.start_date }}</td>
        <td>{{ exercise.end_date }}</td>
        <td>10/20</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}